

*{
   
    font-family:  arial, helvetica;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    background-color: rgb(255, 255, 255) ;
}



#logo{
    font-family:'Archivo Black', sans-serif;

    padding-left: 20px;
}

#navbar{

    padding-right: 20px;
    font-family:'Archivo',sans-serif ;
}


/* section */

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65,transparent);
    z-index: 10;
}

.hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
   
}



@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.hero #text{
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
    }

.hero #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family:'Poppins', sans-serif;
}



/* about */


/* sec= main div of about sectio */
.sec{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 50px;
    background: #094b65 ;
}

.sec h2{
    font-size: 3.5em;
    color: white;
    margin-bottom: 10px;
    
    
}
#aboutsec h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: white;
    margin-bottom: 0px;
    text-align: center;
    background-color: #094b65;
    animation: fadeInDown 2s ease-in-out 2s 1 ;
}

.sec p{
    font-size: 1em;
    color: white;
}
.profile-pic{

animation: fadeInLeft 2s ease-in-out 1s 1 ;
}

.profile-text{
animation: fadeInRight 2s ease-in-out 1.5s 1 ;

}

/* ANimation styles */
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/* CARD */

.card-body1{
   background-color: #094b65 ;
padding:12px;
   text-align: center;
   font-family: 'Roboto';
   font-weight: bold;
}
.card-body2{
   background-color: #094b65 ;
   font-family: 'Roboto';
   font-weight: 400;
   padding: 30px;
}


/* resume */

#resume{
    width: auto;
    height: fit-content;
    background-color:white;
    padding-bottom: 50px;
    overflow: hidden;

}

#resume-header{
text-align: center;
padding-top: 40px;
font-family: 'Poppins';
padding-bottom: 50px;
animation:  headShake 2s ease-in 3s infinite ;


}

body{
    background-color: #f7f7f7;
    margin-top:20px;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 0px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0;
    animation: fadeInRight 2s ease-in-out 5s 2 ;
    text-align: left;
    margin-bottom: 30px;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
 
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px;
    }
}

#codingninjas{
  text-align: right;
}

/* projects */


#projects h1{
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    animation: headShake 2s ease-in-out 4s infinite ;

}
#projects{
    text-align: center;
    background-color: #094b65;
    height: 140vh;
    color: #fff;
}


@media only screen and (min-device-width: 321px) and (max-width: 767px){
  #projects{
    overflow: hidden;
    text-align: center;
    background-color: #094b65;
    height: 160vh;
    color: #fff;
}

#projects .card{
  background-color: #094b65;
    width: 400px;
    height:300px;
 
    color: #fff;
  }

#codingninjas{
  text-align: left;}

  .card-body1{
    background-color: #094b65 ;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    padding-top: 5px;
 }
 .card-body2{
    background-color: #094b65 ;
    font-family: 'Roboto';
    padding: 20px;
 }


  
}

.card-title{
  font-weight: 600;
}
.main-section-projects {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    animation: fadeInLeft 3s ease-in-out 6s 1 ;
  
  }
.main-section-projects1 {
  
    text-align: center;
    display: flex;
    margin-top:20px;
    justify-content: space-evenly; 
    animation: fadeInRight 3s ease-in-out 6s 1 ;
  }


#projects .card{
    width: 400px;
    height:400px;
    color: #000000;
   
}


/* contact */
#contact{
    background-color: #FFF;
    height:fit-content;
    overflow: hidden;
}

.image-contact{
    width: 500px;
    height: 500px;
    margin-top: 60px;
   }

.contact-form-flex{
    display: flex;
    justify-content: space-evenly;
}

.contactformh1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Archivo';
    color: #094b65;
}


/* contact form */
body {
    background-color: #ffffff !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    border-color: #90caf9;
    border-style: solid;
    max-width: 400px;
    animation: bounceIn 3s ease-in-out s 1 ;

  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #363738;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #424343;
    font-weight: 500;
  }
  
  
  .contact-form .form-control:focus {
    border-color: #3fa2f3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #3fa2f3;
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 44px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #24282a;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #007bd3;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: #00406d;
  }

  .container-flex{
    display: flex;
    justify-content: space-evenly;
    animation: bounceIn 3s ease-in-out 8s 1 ;
    list-style-type: none;
  }

  @media only screen and (max-width: 767px){
    .contact-form .submit-button-wrapper input {
      border: none;
      border-radius: 4px;
      color: #000000;
      background-color: white;
      text-transform: uppercase;
      padding: 10px 60px;
      font-weight: 500;
      letter-spacing: 2px;
    }
    
    .contact-form .submit-button-wrapper input:hover {
      background-color: #000000;
      color: white;
    }
    .contact-form {
      background-color: #094b65;
      background-image: linear-gradient(315deg, #094b65 0%, #8fa6ca93 74%);
    }
   
      .contact-form .title {
        text-align: center;
        font-size: 44px;
        font-weight: bolder;
      }

      .contact-form .form-control::placeholder {
        color: #6a6a6a;
        font-weight: 500;
        opacity: 1;
      }
      
      .contact-form {
        border-color: #000000; 
      }
      
        
  .contact-form .form-control:-ms-input-placeholder {
    color: #094b65;
    font-weight: 500;
  }
        
      .contact-form .description {
        color: #ffffff;
        font-size: 14px;
        text-align: center;
      }
    
    .image-contact{
        display: none;
    }
  }

  /* footer */

  Footer {
    height: 150px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    text-align: center;
  }

  footer ul li {
    list-style: none;
    display:inline-block;
 
  }

  .firstdiv ul li a {
    color: white;
    padding: 0px 0px 0px 20px;
    font-size: large;
  }

  .firstdiv
  {
    padding-top: 40px;
    
  }

  .seconddiv h6{
        color: white;
        padding-top: 10px;
        text-align: center;
        font-family:  arial, helvetica;
  }



  /* media queries for project */

  @media only screen and (max-width: 781px) {
      .description{
        padding: 0px 20px 0px 20px;
      }

      #projects{
        height:360vh;
        overflow: hidden;
      }
      .card-body{
        padding: 1rem;
        background-color: #ffffff;
      }
      #projects-card{
        margin-bottom: 30px;
      }
      #projects-card1{
        margin-bottom: 30px;
      }
      #projects-card2{
        margin-bottom: 30px;
      }
      #projects-card2 .card-body{
       height: 40px;
      }
      #projects-card3{
        margin-bottom: 30px;
      }
      #projects-card4{
        margin-bottom: 30px;
      }
      #projects-card5{
        margin-bottom: 30px;
      }
      #projects-card6{
        margin-bottom: 30px;
      }
      .main-section-projects{
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
      }
      .main-section-projects1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #contact{
        text-align: center;
        max-width: 100%;
        animation: bounceIn 3s ease-in-out s 1 ;   
      }

      .contact-form h5{
        color: white;
      }

      .contact-form{
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #59a0b4 #094b65 0%,  74%);
      }

      footer .firstdiv{
        text-align: center;
        padding-right:40px ;
      }
      .contact-form-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .container-flex{
        width: 100%;
        align-items: center;
        justify-content: center;
        
      }
  }


  /* animations */

  @-webkit-keyframes headShake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg);
    }
  
    18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg);
    }
  
    31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg);
    }
  
    43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg);
    }
  
    50% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes headShake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg);
    }
  
    18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg);
    }
  
    31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg);
    }
  
    43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg);
    }
  
    50% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .animate__headShake {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
  }

  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .animate__bounceIn {
    -webkit-animation-duration: calc(1s * 0.75);
    animation-duration: calc(1s * 0.75);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
    animation-duration: calc(var(--animate-duration) * 0.75);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
